{% extends 'base_temp.html'%}
{% block content %}
    <ul style="list-style: none;">
    {% for review in reviews %}
        <li>

        <article class="media content-section">
          <img class="article-img" src="{{ review.author.profile.image.url }}" style="padding-right: 3em">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile' %}">{{ review.author }}</a>
              <small class="text-muted">{{ review.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'review-detail' review.id %}">{{ review.title }}</a></h2>
            <p class="article-content">{{ review.body }}</p>
            <p> <br><br> </p>
          </div>
        </article>
        </li>

    {% endfor %}
        </ul>


{% endblock content %}
