<!DOCTYPE HTML>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<head>
		<title>Yelp4Geeks🤓</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../../static/assets/css/main.css" />
	</head>

    {%  if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{% url 'home' %}">Yelp For Geeks</a></h1>
						<nav class="links">
							<ul>
{#								<li><a href="#">Devices</a></li>#}
{#								<li><a href="#">Reviews</a></li>#}
                                {% if user.is_authenticated %}
								    <li><a href="{% url 'profile' %}">Profile</a></li>
                                {% endif %}
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">
{##}
{#						<!-- Search -->#}
{#							<section>#}
{#								<form class="search" method="get" action="#">#}
{#									<input type="text" name="query" placeholder="Search" />#}
{#								</form>#}
{#							</section>#}

{#						<!-- Links -->#}
{#							<section>#}
{#								<ul class="links">#}
{#									<li>#}
{#										<a href="#">#}
{#											<h3>Lorem ipsum</h3>#}
{#											<p>Feugiat tempus veroeros dolor</p>#}
{#										</a>#}
{#									</li>#}
{#									<li>#}
{#										<a href="#">#}
{#											<h3>Dolor sit amet</h3>#}
{#											<p>Sed vitae justo condimentum</p>#}
{#										</a>#}
{#									</li>#}
{#									<li>#}
{#										<a href="#">#}
{#											<h3>Feugiat veroeros</h3>#}
{#											<p>Phasellus sed ultricies mi congue</p>#}
{#										</a>#}
{#									</li>#}
{#									<li>#}
{#										<a href="#">#}
{#											<h3>Etiam sed consequat</h3>#}
{#											<p>Porta lectus amet ultricies</p>#}
{#										</a>#}
{#									</li>#}
{#								</ul>#}
{#							</section>#}

						<!-- Actions -->
							<section>
								<ul class="actions stacked">

                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'logout' %}" class="button large fit">Log Out</a></li>
								    {% else %}
                                        <li><a href="{% url 'login' %}" class="button large fit">Log In</a></li>
                                        <li><a href="{% url 'signup' %}" class="button large fit">Register</a></li>
                                    {% endif %}
                                </ul>
							</section>

					</section>

            </div>

                {% block content%}
                {% endblock%}

            <!-- About -->

		<!-- Scripts -->
			<script src="../../static/assets/js/jquery.min.js"></script>
			<script src="../../static/assets/js/browser.min.js"></script>
			<script src="../../static/assets/js/breakpoints.min.js"></script>
			<script src="../../static/assets/js/util.js"></script>
			<script src="../../static/assets/js/main.js"></script>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>